name: Publish
on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract image name
        id: extract
        run: |
          repo_name="${{ github.repository }}"
          if [[ "${repo_name}" =~ ^docker- ]]; then
            image_name="$(echo "${repo_name}" | sed -e 's/^docker-//g')"
          else
            image_name="${repo_name}"
          fi
          echo "image_name=${image_name}" >> $GITHUB_OUTPUT

      - name: Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ steps.extract.outputs.image_name }}
          tags: |
            type=raw,value=latest
            type=semver,pattern=v{{ version }}
            type=semver,pattern=v{{ major }}.{{ minor }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
